<h1>Users list</h1>
<table >
	<tr>
		<td>#</td>
		<td>Name</td>
		<td>Email</td>
		<td>Gender</td>
		<td>Mobile</td>
		<td>Edit</td>
		<td>Delete</td>
	</tr>
	<% @users.each do |f| %>
	<tr>
		<td><%= image_tag(f.avatar.url(:thumb)) if f.avatar.present? %> </td>
		<td><%= link_to f.name, user_path(f) %></td>
		<td><%= f.email %></td>
		<td><%= f.gender %></td>
		<td><%= f.mobile_number %></td>
		<td><%= link_to "edit",edit_user_path(f)%></td>
		<td><%= link_to "Delete",user_path(f),:confirm=>"Are u sure",:method=>:delete%></td>
	</tr>
	<% end %>
</table>
</br>
<%= link_to "New User",new_user_path%>